<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
	<link href="../assets/css/print_invoice.css" rel="stylesheet" crossorigin="anonymous">
	<title>Print Invoice</title>
</head>
<body>
	<div class="contener">
		<div class="content ">
			<div class="judul text-center position-relative pt-3">
				<h5>PT POS LOGISTIK INDONESIA</h5>
				<p>Terminal Kargo Bandara Soekarno-Hatta Jakarta 19100</p>
				<p>Telp. 021-5500278 Faks. 021-5500277</p>
				<div class="logo position-absolute start-0 top-0 pt-4">
					<img src="../assets/image/poslog.png" alt="poslog">
				</div>
			</div>
			<div class="data">
				<div class="d-flex justify-content-between">
					<div class="kolom d-flex">
						<div class="info me-2">
							No.NJG<br>
							Agent/SHP/PIC<br>
							AWB/BTB
						</div>
						<div >
							: 392728<br>
							: MAY LOGISTIC/MAY LOG/MAY LOG<br>
							: 888-53056076/1645757357
						</div>
					</div>
					<div class="kolom d-flex">
						<div class="info me-2">
							Tanggal NJG<br>
							Destination
						</div>
						<div >
							: 2022-02-25 <br>
							: BPN
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-between px-4">
					<div>
						QTY: 10
					</div>
					<div>
						NET: 10
					</div>
					<div>
						VOL: 10
					</div>
					<div>
						CW: 10
					</div>
				</div>
			</div>
			<div class="rincian">
				<div class="d-flex justify-content-between px-4">
					<div>
						Jasa Gudang <br>
						Admin <br>
						JKP2U <br>
						kade <br>
						Airport Surcharge <br>
						Pajak 10% <br>
						Materai <br>
						Total Bayar 
					</div>
					<div>
						: 50 X 1 X 1280 <br>
						<br>
						: 50 X 1 X 182 <br>
						: 50 X 1 X 400 <br>
						: 50 X 1 X 300 <br> 
					</div>
					<div>
						=Rp. <br>
						=Rp. <br>
						=Rp. <br>
						=Rp. <br>
						=Rp. <br>
						=Rp. <br>
						=Rp. <br>
						=Rp. <br>
					</div>
					<div class="text-end">
						64.000 <br>
						5.000 <br>
						9.100 <br>
						20.000 <br>
						15.000 <br>
						11.310 <br>
						0 <br>
						124.410 <br>
					</div>
				</div>
				<div class="terbilang">
					<i>Seratus Dua Puluh Empat Ribu Empat Ratus Sepuluh Rupiah</i>
				</div>
			</div>
			<div class="footer">
				<div class="d-flex justify-content-end">
					Cengkareng, 25-02-2022
				</div>
				<div class="d-flex justify-content-between">
					<div>
						Type bayar: CASH
					</div>
					<div>
						Process by: Warsa
					</div>
				</div>
				<div class="">
					Reprint by: Taufik Sugali
				</div>
			</div>
		</div>
	</div>
	
	
</body>
</html>