body{
	width: 29.7cm;
}
input{
	width: 10em;
	border: none;
	background-color: none;
}
input:hover;
input:active,
input:focus{
	outline-color: none;
	background-origin: none;
}
table{
	width: 100%;

}
table thead tr th{
	border: solid 1px black;
	color: white;
	background-color: #518CDC;
}

table tbody tr td{
	border: solid 1px black;
}
table thead tr th,
table tbody tr td{
	text-align: center;
}
